@use 'sass:color';

$primary-color: #FFA21F;
$background-color: #16697A;
$white: #82C0CC;
$error-color: #e74c3c;
$success-color: #4CAF50;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modal-content {
  background-color: $white;
  padding: 3rem 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(151, 138, 138, 0.4);

  &.error {
    border-left: 6px solid $error-color;

    h3 {
      color: $error-color;
    }
  }

  &.success {
    border-left: 6px solid $success-color;

    h3 {
      color: $success-color;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 2rem;
  }

  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: $primary-color;
    color: #000;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
    }
  }
}
