<section>
  <div class="recuperar-password-container">
    <div class="circle">
      <img src="/assets/icons/loginIcon.svg" alt="Login Icon">
    </div>
    <h2> Recuperar contraseña </h2>
    <p>Ingresa tu correo electrónico para recibir un enlace de recuperación</p>
    <form [formGroup]="recuperarPasswordForm" (ngSubmit)="onSubmit()">
      <label for="email">Correo electrónico <span class="required">*</span></label>
      <input
        formControlName="correoElectronico"
        placeholder="Ingrese su correo electrónico"
        type="email"
        id="email"
        [class.invalid]="recuperarPasswordForm.get('email')?.touched && recuperarPasswordForm.get('email')?.invalid"
        required
      />
      @if (recuperarPasswordForm.get('email')?.touched && recuperarPasswordForm.get('email')?.invalid) {
        <div class="error-messages">
          @if (recuperarPasswordForm.get('email')?.errors?.['required']) {
            <span>El correo electrónico es obligatorio</span>
          }
          @if (recuperarPasswordForm.get('email')?.errors?.['email']) {
            <span>El correo no tiene un formato válido</span>
          }
        </div>
      }
      <!-- Submit -->
      <button type="submit" [disabled]="recuperarPasswordForm.invalid">Solicitar Enlace</button>
      <a [routerLink]="['/']" >¡Volver a Inicio Sesion!</a>
    </form>
  </div>
</section>
@if (mensajeSucces) {
  <app-alerts
    [mensaje]="mensajeSucces"
    [mensajeTitulo]="tituloSucces"
    [tipo]="'success'"
    (cerrar)="mensajeSucces = null">
  </app-alerts>
}
